main {
  position: relative;
}

.customers_block .wrapper {
  padding-top: 150px;
  padding-bottom: 250px;
}

.customers_block .wrapper h1 {
  max-width: 400px;
}

.customers_block .wrapper .btn_review_more span {
  max-width: 165px;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px !important;
}

.customers_number .wrapper {
  position: relative;
}

.customers_number .wrapper h1 {
  position: relative;
  z-index: 2;
  max-width: 720px;
}

.customers_number .wrapper h1 span {
  color: #07d1ff;
}

.customers_number .wrapper p {
  position: relative;
  z-index: 2;
  max-width: 560px;
  font-size: 25px;
  margin-top: 40px;
}

.testdrive_block .wrapper h1 {
  max-width: 511px;
}

.testdrive_block .wrapper p {
  max-width: 490px;
}

.testdrive_block .wrapper .number_block {
  width: 1000px;
  height: 500px;
  top: 60px;
  right: -190px;
}

.testdrive_block .wrapper .number_block img {
  position: absolute;
  z-index: 1;
  left: calc(50% - 70% / 2);
  top: 0;
  width: 70%;
}

.testdrive_block .wrapper .number_block svg text {
  -webkit-filter: drop-shadow(0 0 6px #CC2BFF);
  filter: drop-shadow(0 0 6px #CC2BFF);
  font-size: 600px;
  stroke-width: 6px;
}

.delivery_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 380px;
  margin-top: 90px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.delivery_items .delivery_item {
  width: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.delivery_items .delivery_item span {
  font-size: 16px;
}

.delivery_items .delivery_item .delivery_item--img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.delivery_items .delivery_item .delivery_item--img img {
  width: 100%;
}

.cashback_block {
  position: relative;
}

.cashback_block .wrapper {
  position: relative;
}

.cashback_block .wrapper .cashback_card {
  position: absolute;
  z-index: -1;
  top: 0;
}

.cashback_block .wrapper h1 {
  max-width: 758px;
}

.cashback_block .wrapper h2 {
  margin-top: 130px;
  margin-bottom: 60px;
}

.cashback_block .wrapper .services_review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cashback_block .wrapper .services_review > a {
  width: 385px;
  height: 227px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(34, 35, 39, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border-radius: 10px;
}

.cashback_block .wrapper .services_review > a img {
  width: 70%;
}

.cashback_block .wrapper .services_review > a:first-child {
  margin-right: 30px;
}

.cashback_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.cashback_items .cashback_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 235px;
}

.cashback_items .cashback_item span {
  font-size: 30px;
}

.cashback_items .cashback_item .cashback_item--icon {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 55px;
  color: #07d1ff;
  text-shadow: 2px 2px 10px #07d1ff;
  margin-bottom: 25px;
}

.contact_items {
  max-width: 630px;
}

.contact_items .contact_item {
  width: auto;
  max-width: 320px;
}

@supports (-webkit-appearance:none) {

}

@media (min-width: 930px) {
  .cashback_items .cashback_item .cashback_item--icon {
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1200px) {
  .testdrive_block .wrapper .number_block {
    width: 900px;
    height: 440px;
    right: 20px;
    opacity: 0.8;
  }

  .testdrive_block .wrapper .number_block svg text {
    font-size: 520px;
  }

  .cashback_block .wrapper .cashback_card {
    width: 900px;
    top: 100px;
    right: 40px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 930px) {
  .cashback_block .wrapper .cashback_card {
    width: 900px;
    top: 100px;
    right: -50px;
  }

  .cashback_items .cashback_item .cashback_item--icon {
    background: rgba(0, 0, 0, 0.4);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 830px) {
  .testdrive_block .wrapper .number_block {
    position: relative;
    margin: 0 auto;
    width: 550px;
    height: 240px;
    top: 30px;
  }

  .testdrive_block .wrapper .number_block svg text {
    font-size: 300px;
  }

  .cashback_block .wrapper .services_review > a {
    width: 300px;
    height: 160px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 700px) {
  .customers_number .wrapper p {
    font-size: 18px;
  }

  .delivery_items .delivery_item span {
    font-size: 14px;
  }

  .delivery_items .delivery_item .delivery_item--img {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 670px) {
  .cashback_block .wrapper .services_review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .cashback_block .wrapper .services_review a:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 630px) {
  .customers_block .wrapper {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  .customers_block .wrapper .btn_review_more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .customers_block .wrapper .btn_review_more > span {
    margin-left: 30px;
    margin-top: 30px;
    text-align: left;
  }

  .cashback_block .wrapper h2 {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .cashback_items {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .cashback_items .cashback_item {
    max-width: 170px;
  }

  .cashback_items .cashback_item span {
    font-size: 18px;
    font-weight: 400;
  }

  .cashback_items .cashback_item .cashback_item--icon {
    width: 80px;
    height: 80px;
    font-size: 30px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 600px) {
  .testdrive_block .wrapper .number_block {
    width: 390px;
    height: 210px;
    top: 30px;
    right: auto;
  }

  .testdrive_block .wrapper .number_block svg text {
    font-size: 225px;
  }

  .contact_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact_items .contact_item {
    margin-bottom: 25px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 500px) {
  .customers_block .wrapper .btn_review_more {
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 459px) {
  .testdrive_block .wrapper .number_block {
    width: 300px;
    height: 180px;
    top: 0px;
    left: 0;
    margin-left: 0;
  }

  .testdrive_block .wrapper .number_block svg text {
    font-size: 170px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 450px) {
  .cashback_block .wrapper .services_review > a {
    width: 250px;
    height: 110px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 360px) {
  .testdrive_block .wrapper .number_block {
    width: 280px;
    height: 150px;
    margin-left: 0;
  }

  .testdrive_block .wrapper .number_block svg text {
    font-size: 155px;
  }

@supports (-webkit-appearance:none) {

}
}