main {
  position: relative;
}

.about_top_block {
  height: 900px;
  background: url(../img/bg/bg_about_top.webp);
  background-position: center;
  position: relative;
}

.about_top_block .bg_lines_svg {
  z-index: 0;
}

.about_top_block .wrapper {
  padding-top: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about_top_block .wrapper h1 {
  max-width: 510px;
  text-align: center;
}

.about_top_block .wrapper img {
  width: 600px;
}

.about_count_block {
  background: #222229;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 64px 58px #222229;
  box-shadow: 0px 0px 64px 58px #222229;
}

.about_count_block .wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about_count_block .wrapper .about_count_elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 250px;
}

.about_count_block .wrapper .about_count_elem .about_count_number {
  font-size: 60px;
  font-weight: 700;
  font-weight: bold;
  color: #222229;
  text-shadow: 0 0 2px #5CD9FF, 0 0 5px #5CD9FF;
}

.about_count_block .wrapper .about_count_elem .about_count_text {
  color: #fff;
  opacity: 0.5;
  font-size: 18px;
}

.history_about_block {
  position: relative;
}

.history_about_block .par_bouble_1 {
  left: 0;
}

.history_about_block .par_bouble_2 {
  right: 200px;
  bottom: -100px;
  z-index: 2;
}

.history_about_block .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 150px;
  padding-bottom: 90px;
}

.history_about_block .wrapper > div {
  width: 50%;
}

.history_about_block .wrapper .history_left {
  position: relative;
}

.history_about_block .wrapper .history_left h2 {
  max-width: 470px;
  margin-bottom: 40px;
}

.history_about_block .wrapper .history_left p {
  width: 360px;
  margin-left: 30px;
  font-size: 20px;
}

.history_about_block .wrapper .history_right {
  position: relative;
  top: -90px;
}

.history_about_block .wrapper .history_right .history_photo {
  width: 600px;
  height: 700px;
  overflow: hidden;
  background: #C4C4C4;
  border-radius: 20px 20px 90px 20px;
}

.history_about_block .wrapper .history_right .history_photo img {
  width: 100%;
  height: 100%;
}

.history_about_block .wrapper .history_right .history_name {
  padding: 20px 10px;
  width: 265px;
  height: 72px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #DE1CFF;
  border-radius: 10px 10px 10px 40px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: -50px;
  bottom: 7%;
}

.history_about_block .wrapper .history_right .history_name span {
  max-width: 180px;
  display: block;
  font-size: 22px;
  font-weight: 500;
}

.timeline {
  background: url(../img/bg/timeline.svg) center repeat-x;
  min-height: 1000px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.timeline .wrapper {
  padding-top: 100px;
  padding-bottom: 90px;
}

.timeline .wrapper h2 {
  margin-bottom: 70px;
  max-width: 386px;
}

.timeline .wrapper .timeline_items--wrap {
  position: relative;
}

.timeline .wrapper .timeline_items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timeline .wrapper .timeline_item {
  max-width: 380px;
}

.timeline .wrapper .timeline_item h4 {
  margin-bottom: 25px;
}

.timeline .wrapper .timeline_item .timeline_items--year {
  background: rgba(34, 35, 39, 0.1);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 127px;
  height: 55px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.timeline .wrapper .timeline_item p {
  font-size: 16px;
  max-width: 360px;
}

.timeline .wrapper .timeline_item svg {
  margin-top: 15px;
  margin-bottom: 25px;
}

.timeline .wrapper .timeline_item svg g {
  -webkit-filter: drop-shadow(0 0 4px #10C8FF);
  filter: drop-shadow(0 0 4px #10C8FF);
}

.timeline .wrapper .timeline_item:nth-child(2) svg g {
  -webkit-filter: drop-shadow(0 0 4px #DE1CFF);
  filter: drop-shadow(0 0 4px #DE1CFF);
}

.achievments .wrapper {
  position: relative;
  padding-bottom: 120px;
}

.achievments .wrapper .achievments_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.achievments .wrapper .achievments_items .achievments_item {
  width: 451px;
  height: 207px;
  background: rgba(34, 35, 39, 0.2);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.achievments .wrapper .achievments_items .achievments_item:nth-child(2) .achievments_icon {
  background-color: #DD1CFE;
}

.achievments .wrapper .achievments_items .achievments_item:nth-child(3) .achievments_icon {
  background-color: #0ACEFF;
}

.achievments .wrapper .achievments_items .achievments_item .achievments_icon {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  margin-right: 25px;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 50%;
  width: 135px;
  min-width: 135px;
  height: 135px;
}

.achievments .wrapper .achievments_items .achievments_item p {
  font-size: 18px;
}

.achievments .wrapper .achievments_brands {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 11;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 200px;
}

.achievments .wrapper .achievments_brands .achievments_brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 240px;
  position: relative;
  z-index: 11;
}

.achievments .wrapper .achievments_brands .achievments_brand h3 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.about_team .wrapper {
  position: relative;
  padding-top: 40px;
  padding-bottom: 120px;
}

.about_team .wrapper .slider_nav {
  position: absolute;
  z-index: 50;
  height: 50px;
  top: 50px;
  width: 100%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.about_team .wrapper .slider_nav button {
  width: 67px;
  height: 49px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px 5px 5px 20px;
  position: static !important;
  margin-bottom: -20px;
  margin-right: 20px;
}

.about_team .wrapper .slider_nav button:after {
  display: none;
}

.about_team .wrapper .slider_nav button .arrow {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  margin-left: 3px;
}

.about_team .wrapper .slider_nav .swiper-pagination {
  position: static;
  width: auto;
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.about_team .wrapper .slider_nav .swiper-pagination span:first-child {
  margin-right: -3px;
}

.about_team .wrapper .slider_nav .swiper-pagination span:last-child {
  margin-left: -3px;
}

.about_team .wrapper .slider_nav .swiper-button-next {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.about_team .wrapper h2 {
  margin-bottom: 90px;
}

.about_team .wrapper .team_photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_team .wrapper .team_photos .team_photo {
  width: 365px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about_team .wrapper .team_photos .team_photo:nth-child(2n) .team_photo--img {
  border-radius: 20px 20px 90px 20px;
}

.about_team .wrapper .team_photos .team_photo .team_photo--img {
  width: 100%;
  height: 434px;
  background: #C4C4C4;
  border-radius: 90px 20px 20px 20px;
  overflow: hidden;
  position: relative;
}

.about_team .wrapper .team_photos .team_photo .team_photo--img img {
  width: 100%;
}

.about_team .wrapper .team_photos .team_photo .team_photos--name {
  font-size: 28px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 15px;
}

.about_team .wrapper .team_photos .team_photo .team_photos--pos {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.choose_your__gadget {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.choose_your__gadget .wrapper {
  padding-bottom: 90px;
}

.choose_your__gadget .koko_gadget {
  position: absolute;
  top: 10px;
  z-index: -1;
  max-width: 800px;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  pointer-events: none;
}

.blog_block .wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.blog_block .wrapper .img_blog_main {
  position: absolute;
  z-index: -1;
  right: -200px;
}

.blog_block .wrapper h1 {
  max-width: 740px;
}

.blog_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin-top: 60px;
}

.blog_nav > a {
  padding: 5px 25px;
  width: 176px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #DE1CFF;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
  font-size: 20px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.blog_nav > a.active {
  background-color: #DE1CFF;
}

.blog_nav > a:hover {
  background-color: #DE1CFF;
}

.blog_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 100px;
  gap: 30px;
}

.blog_items .blog_item {
  width: 380px;
  height: 460px;
  background-color: #363641;
  border-radius: 10px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.blog_items .blog_item:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.blog_items .blog_item:hover .blog_item_title {
  text-decoration: underline;
}

.blog_items .blog_item .blog_item_img {
  height: 50%;
  overflow: hidden;
}

.blog_items .blog_item .blog_item_img img {
  width: 100%;
}

.blog_items .blog_item .blog_item_bottom {
  padding: 15px;
  padding-bottom: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 50%;
}

.blog_items .blog_item .blog_item_bottom .blog_item_date {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
}

.blog_items .blog_item .blog_item_bottom .blog_item_title {
  font-size: 21px;
  margin-top: 5px;
  margin-bottom: 9px;
}

.blog_items .blog_item .blog_item_bottom p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  max-width: 265px;
}

.blog_items .blog_item .blog_item_bottom .blog_item_category {
  margin-top: auto;
}

.blog_items .blog_item .blog_item_bottom .blog_item_category span {
  color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  position: relative;
  font-size: 12px;
}

.blog_items .blog_item .blog_item_bottom .blog_item_category span:not(:last-child) {
  margin-right: 20px;
}

.blog_items .blog_item .blog_item_bottom .blog_item_category span:not(:last-child):before {
  position: absolute;
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #DD1CFE;
  right: -14px;
  top: 6px;
}

.discount_block .wrapper {
  padding-bottom: 90px;
  padding-top: 90px;
  position: relative;
}

.discount_block .wrapper h1 {
  margin-bottom: 160px;
  max-width: 400px;
}

.discount_block .wrapper .discount_bg {
  position: absolute;
  right: -20%;
  width: 1200px;
  opacity: 0.8;
  top: -2%;
  z-index: -1;
}

.discount_block .wrapper .discount_items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.discount_block .wrapper .discount_items .discount_item {
  width: 100%;
  background-color: #363641;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
}

.discount_block .wrapper .discount_items .discount_item::before,
.discount_block .wrapper .discount_items .discount_item:after {
  position: absolute;
  width: 70px;
  height: 70px;
  content: '';
  border-radius: 50%;
  background-color: #222226;
  pointer-events: none;
}

.discount_block .wrapper .discount_items .discount_item::before {
  left: calc(100% - 70px / 2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.discount_block .wrapper .discount_items .discount_item::after {
  left: -35px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.discount_block .wrapper .discount_items .discount_item > div {
  padding: 24px 50px;
}

.discount_block .wrapper .discount_items .discount_item .discount_item--img {
  width: 273px;
  height: 184px;
  border-radius: 10px;
  background-color: #DD1CFE;
  overflow: hidden;
  margin-right: 30px;
}

.discount_block .wrapper .discount_items .discount_item .discount_item--img img {
  width: 100%;
}

.discount_block .wrapper .discount_items .discount_item .discount_item_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.discount_block .wrapper .discount_items .discount_item .discount_item--text .discount_data {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
}

.discount_block .wrapper .discount_items .discount_item .discount_item--text .discount_descr {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  max-width: 300px;
}

.discount_block .wrapper .discount_items .discount_item .discount_item_right {
  border-left: 1px dashed rgba(255, 255, 255, 0.2);
}

.discount_block .wrapper .discount_items .discount_item .discount_item_right svg {
  margin-right: 0;
}

.faq .wrapper {
  padding-top: 144px;
  padding-bottom: 140px;
}

.faq .wrapper h1 {
  max-width: 635px;
}

.faq .wrapper .number_block {
  width: 450px;
  right: -15px;
}

.faq .wrapper .blog_nav a {
  font-size: 18px;
  white-space: nowrap;
}

.faq_block {
  margin-top: 60px;
}

.questions-wrap {
  margin-top: 30px;
  width: 100%;
}

.questions-wrap > div {
  margin-bottom: 30px;
}

.questions-wrap .questions-block-title {
  height: 93px;
  background: #363641;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  position: relative;
  cursor: pointer;
}

.questions-wrap .questions-block-title:hover {
  border: 1px solid white;
}

.questions-wrap .questions-block-title:before {
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  top: 33px;
  right: 35px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../img/arrow_blue.svg) center no-repeat;
  border-radius: 50%;
  border: 1px solid #10C8FF;
}

.questions-wrap .questions-block-cont {
  padding: 0 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 22px;
  height: 100%;
  background: transparent;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}

.reviews_page .wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
}

.reviews_page .wrapper .blog_nav a {
  font-size: 17px;
  white-space: nowrap;
}

.reviews_page .wrapper .reviews_block--header {
  position: relative;
  margin-bottom: 210px;
}

.reviews_page .wrapper .reviews_block {
  margin-bottom: 100px;
}

.reviews_page .wrapper .reviews_block h2 {
  margin-bottom: 70px;
}

.reviews_page .wrapper .reviews_block .btn_review_more {
  margin-top: 30px;
}

.reviews_page .wrapper .review_photos {
  width: 600px;
  height: 500px;
  position: absolute;
  right: 0;
  top: -80px;
}

.reviews_page .wrapper .review_photos .review_photo:nth-child(1) {
  left: 0;
  top: 0;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  z-index: 1;
}

.reviews_page .wrapper .review_photos .review_photo:nth-child(2) {
  left: 30px;
  top: auto;
  bottom: 0;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  z-index: 2;
}

.reviews_page .wrapper .review_photos .review_photo:nth-child(3) {
  left: auto;
  right: -130px;
  top: 40px;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  z-index: 2;
}

.reviews_page .wrapper .review_photos .review_photo:nth-child(4) {
  left: auto;
  right: 40px;
  top: auto;
  bottom: 0px;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
}

.review_cloud_top {
  top: 0 !important;
}

.review_cloud_center {
  top: 25% !important;
}

.review_cloud_bottom {
  top: 75% !important;
}

@supports (-webkit-appearance:none) {
  .timeline {
    background: url(../img/bg/timeline.svg) center repeat-x;
  }

  .questions-wrap .questions-block-title:before {
    background: url(../img/arrow_blue.svg) center no-repeat;
  }
}

@media (min-width: 930px) {
  .timeline .wrapper .timeline_items--wrap::before {
    content: '';
    position: absolute;
    height: 6px;
    top: 24px;
    left: 0;
    width: 350%;
    background: -o-linear-gradient(359.89deg, #DE1CFF -8.38%, #10C8FF 80.85%);
    background: linear-gradient(90.11deg, #DE1CFF -8.38%, #10C8FF 80.85%);
    border-radius: 3px;
    z-index: 0;
  }

  .timeline .wrapper .timeline_items {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-transform: translateX(150px);
    -ms-transform: translateX(150px);
    transform: translateX(150px);
  }

  .achievments .wrapper .achievments_items {
    -webkit-transform: translateX(160px);
    -ms-transform: translateX(160px);
    transform: translateX(160px);
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .achievments .wrapper .achievments_items .achievments_item:not(:last-child) {
    margin-right: 60px;
  }

  .about_team .wrapper .team_photos--wrap {
    overflow: hidden;
  }

  .blog_nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .blog_items {
    -webkit-box-shadow: 1px -17px 33px 3px rgba(34, 34, 6, 0.67);
    box-shadow: 1px -17px 33px 3px rgba(34, 34, 6, 0.67);
  }

  .discount_block .wrapper .discount_items .discount_item::before,
  .discount_block .wrapper .discount_items .discount_item:after {
    top: calc(50% - 70px / 2);
  }

@supports (-webkit-appearance:none) {

}
}

@media (min-width: 1450px) {
  .achievments .wrapper .achievments_items {
    width: 1450px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1450px) {
  .achievments .wrapper .achievments_items .achievments_item {
    width: 390px;
    height: 180px;
  }

  .achievments .wrapper .achievments_items .achievments_item:not(:last-child) {
    margin-right: 20px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1300px) {
  .history_about_block .par_bouble_2 {
    right: -200px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1200px) {
  .history_about_block .wrapper .history_right .history_photo {
    width: 450px;
    height: 520px;
  }

  .achievments .wrapper .achievments_items .achievments_item .achievments_icon.achievments_icon_olive img {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }

  .achievments .wrapper .achievments_items .achievments_item .achievments_icon {
    width: 80px;
    min-width: 80px;
    height: 80px;
  }

  .achievments .wrapper .achievments_items .achievments_item p {
    font-size: 16px;
  }

  .blog_items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .reviews_page .wrapper .reviews_block--header {
    margin-bottom: 70px;
  }

  .reviews_page .wrapper .review_photos {
    display: none;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 930px) {
  .history_about_block .parallax_bouble {
    width: 90px;
  }

  .history_about_block .par_bouble_1 {
    top: 200px;
  }

  .history_about_block .par_bouble_2 {
    right: -30px;
  }

  .history_about_block .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 290px;
  }

  .history_about_block .wrapper .history_left {
    width: 360px;
  }

  .history_about_block .wrapper .history_left p {
    margin-left: 0;
  }

  .history_about_block .wrapper .history_left h2 {
    position: absolute;
    top: -790px;
    max-width: 255px;
  }

  .history_about_block .wrapper .history_right {
    top: -20px;
    margin: 0;
    margin-bottom: 80px;
    width: 450px;
  }

  .history_about_block .wrapper .history_right .history_name {
    bottom: -50px;
    left: calc(50% - 265px / 2);
  }

  .timeline {
    min-height: 700px;
  }

  .timeline .wrapper .timeline_items::before {
    content: '';
    position: absolute;
    height: 6px;
    top: 24px;
    left: 0;
    width: 350%;
    background: -o-linear-gradient(359.89deg, #DE1CFF -8.38%, #10C8FF 80.85%);
    background: linear-gradient(90.11deg, #DE1CFF -8.38%, #10C8FF 80.85%);
    border-radius: 3px;
    z-index: 0;
  }

  .timeline .wrapper .timeline_item {
    max-width: 350px;
  }

  .timeline .wrapper .timeline_item p {
    font-size: 15px;
  }

  .about_team .wrapper .slider_nav {
    display: none;
  }

  .about_team .wrapper h2 {
    max-width: 215px;
  }

  .about_team .wrapper .team_photos .team_photo {
    width: 290px;
  }

  .about_team .wrapper .team_photos .team_photo .team_photo--img {
    height: 340px;
  }

  .about_team .wrapper .team_photos .team_photo .team_photos--name {
    font-size: 23px;
  }

  .about_team .wrapper .team_photos .team_photo .team_photos--pos {
    font-size: 15px;
  }

  .choose_your__gadget .wrapper {
    padding-bottom: 90px;
  }

  .choose_your__gadget .koko_gadget {
    display: none;
  }

  .blog_block .wrapper .img_blog_main {
    display: none;
  }

  .blog_nav > a {
    margin: 0;
    font-size: 15px;
    width: 160px;
    height: 52px;
  }

  .discount_block .wrapper h1 {
    margin-bottom: 80px;
  }

  .discount_block .wrapper .discount_items .discount_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 320px;
  }

  .discount_block .wrapper .discount_items .discount_item::before {
    display: none;
  }

  .discount_block .wrapper .discount_items .discount_item::after {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    bottom: -35px;
    left: calc(50% - 35px);
  }

  .discount_block .wrapper .discount_items .discount_item > div {
    padding: 15px;
  }

  .discount_block .wrapper .discount_items .discount_item .discount_item--img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .discount_block .wrapper .discount_items .discount_item .discount_title {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .discount_block .wrapper .discount_items .discount_item .discount_item_left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .discount_block .wrapper .discount_items .discount_item .discount_item_right {
    padding-bottom: 40px;
    padding-top: 0;
    border: 0;
  }

  .discount_block .wrapper .discount_items .discount_item .discount_item_right .btn_review_more {
    margin-top: 15px;
  }

  .discount_block .wrapper .discount_items .discount_item .discount_item_right svg {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .faq .wrapper .number_block {
    display: none;
  }

  .reviews_page .wrapper .reviews_block .review {
    margin-bottom: 0;
  }

  .reviews_page .wrapper .reviews_block .btn_review_more {
    margin-top: 70px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 880px) {
  .about_count_block .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about_count_block .wrapper .about_count_elem:not(:last-child) {
    margin-bottom: 25px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 790px) {
  .achievments .wrapper .achievments_brands {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 80px;
  }

  .achievments .wrapper .achievments_brands .achievments_brand {
    margin-bottom: 35px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 750px) {
  .questions-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 700px) {
  .discount_block .wrapper .discount_bg {
    width: 900px;
    right: -35%;
    top: -1%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 600px) {
  .about_top_block .wrapper img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 550px) {
  .timeline .wrapper .timeline_item {
    max-width: 290px;
  }

  .timeline .wrapper .timeline_item p {
    font-size: 14px;
  }

  .achievments .wrapper .achievments_items .achievments_item {
    width: 290px;
    height: 130px;
    padding: 10px;
  }

  .achievments .wrapper .achievments_items .achievments_item:not(:last-child) {
    margin-right: 0;
  }

  .blog_items .blog_item {
    width: 310px;
    height: 370px;
  }

  .blog_items .blog_item .blog_item_bottom .blog_item_date {
    font-size: 11px;
  }

  .blog_items .blog_item .blog_item_bottom .blog_item_title {
    font-size: 16px;
  }

  .blog_items .blog_item .blog_item_bottom p {
    font-size: 13px;
  }

  .blog_items .blog_item .blog_item_bottom .blog_item_category span {
    font-size: 10px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 500px) {
  .questions-wrap .questions-block-title {
    font-size: 14px;
    height: 72px;
    line-height: 25px;
  }

  .questions-wrap .questions-block-title:before {
    top: 18px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 478px) {
  .history_about_block .wrapper {
    padding-top: 178px;
  }

  .history_about_block .wrapper .history_left {
    width: 290px;
  }

  .history_about_block .wrapper .history_left p {
    width: 290px;
  }

  .history_about_block .wrapper .history_left h2 {
    top: -550px;
  }

  .history_about_block .wrapper .history_right {
    width: 290px;
  }

  .history_about_block .wrapper .history_right .history_photo {
    width: 290px;
    height: 350px;
  }

  .history_about_block .wrapper .history_right .history_name {
    width: 210px;
    height: 58px;
    bottom: -30px;
    left: calc(50% - 210px / 2);
  }

  .history_about_block .wrapper .history_right .history_name span {
    max-width: 140px;
    font-size: 16px;
  }

@supports (-webkit-appearance:none) {

}
}