@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
}

html {
  position: relative;
  overflow-x: hidden;
}

body {
  background-color: #222226;
  color: #ffffff;
  overflow-x: hidden;
  position: relative;
}

p {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 65px;
}

h3 {
  font-size: 38px;
  font-weight: 400;
}

h5 {
  font-size: 23px;
  font-weight: 700;
}

.grid_block_bg {
  position: absolute;
  left: 0;
  right: 0;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  z-index: 1;
}

.grid_block_bg div {
  position: relative;
}

.grid_block_bg div:not(:last-child) {
  border-right: 1px solid black;
}

.grid_block_bg .grid_block_bg--col {
  height: 120px;
  width: 4px;
  border-radius: 4px;
  background-color: #3030db;
  -webkit-box-shadow: 1px 1px 20px 0px #3030db;
  box-shadow: 1px 1px 20px 0px #3030db;
  position: absolute;
  left: -2px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 98px 114px 18px #222222;
  box-shadow: 0px 98px 114px 18px #222222;
  position: relative;
  z-index: 10;
  height: 142px;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: inherit;
  position: relative;
}

header .wrapper > div,
header .wrapper nav {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 43px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header .wrapper > div:not(:last-child),
header .wrapper nav {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

header .wrapper > div.wrap_btn_burger {
  padding-left: 0;
}

header .nav_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .nav_menu ul a {
  padding: 60px 0;
  font-size: 16px;
  font-weight: 700;
  margin: 0 20px;
  position: relative;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}

header .nav_menu ul a:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #de1cff;
  bottom: -1px;
  opacity: 0;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  left: 0;
}

header .nav_menu ul a:hover:before {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

header .burger_menu {
  width: 33px;
  background: transparent;
  min-height: 32px;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translateX(0) translateZ(0);
  transform: translateX(0) translateZ(0);
}

header .burger_menu span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translateY(0) translateZ(0);
  transform: translateY(0) translateZ(0);
  border-radius: 1px;
}

header .burger_menu span:nth-child(2) {
  width: 60%;
  margin: 10px 0;
}

header .burger_menu:hover span:nth-child(2) {
  width: 100%;
}

header .header_cart__block {
  padding: 0 55px;
}

header .header_cart__block a {
  display: block;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-left: 60px;
}

header .header_cart__block a:hover {
  -webkit-transform: scale(1.1) translateZ(0);
  transform: scale(1.1) translateZ(0);
}

header .header_cart__block a img {
  width: 32px;
  height: 27px;
  margin-bottom: -4px;
}

header .btn_cart {
  position: relative;
}

header .btn_cart:hover {
  -webkit-animation-name: jumpingicon;
  animation-name: jumpingicon;
  -webkit-animation-duration: 0.45s;
  animation-duration: 0.45s;
}

header .btn_cart i {
  width: 15px;
  height: 15px;
  position: absolute;
  font-style: normal;
  border-radius: 50%;
  left: 4px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 9px;
  background-color: #b33fff;
}

header .wrap_header__ask--btn button {
  text-align: left;
}

header .wrap_header__ask--btn button:hover span:after {
  width: 100%;
}

header .wrap_header__ask--btn button span {
  position: relative;
}

header .wrap_header__ask--btn button span:before,
header .wrap_header__ask--btn button span:after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: -1px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .wrap_header__ask--btn button span::before {
  width: 100%;
  left: 0;
  background-color: #d721ff;
}

header .wrap_header__ask--btn button span:after {
  width: 50%;
  right: 0;
  background-color: #1ac1ff;
}

header .wrap_header__ask--btn button span:first-child:after {
  left: 0;
}

.main-nav {
  width: 730px;
  max-width: 95%;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  padding: 50px;
  left: 0;
  top: 0;
  z-index: 998;
  background: -o-linear-gradient(52.56deg, #d721ff 24.41%, #b33fff 36.52%, #07d1ff 66.53%);
  background: linear-gradient(37.44deg, #d721ff 24.41%, #b33fff 36.52%, #07d1ff 66.53%);
  border-radius: 0px 30px 30px 0px;
  -webkit-transform: translateX(-101%) translateZ(0);
  transform: translateX(-101%) translateZ(0);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.main-nav.active {
  -webkit-transform: translateX(0) translateZ(0);
  transform: translateX(0) translateZ(0);
}

.main-nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-nav > div h3 {
  margin-bottom: 20px;
}

.main-nav > div ul {
  margin-right: 100px;
}

.main-nav > div ul li {
  margin-bottom: 8px;
}

.main-nav li,
.main-nav a,
.main-nav span {
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
}

.main-nav h2 {
  margin-bottom: 40px;
}

.close_btn {
  width: 33px;
  min-height: 32px;
  position: absolute;
  top: 40px;
  right: 40px;
}

.close_btn span {
  display: block;
  width: 33px;
  height: 4px;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: #ffffff;
}

.close_btn span:first-child {
  -webkit-transform: translateY(2px) rotate(45deg);
  -ms-transform: translateY(2px) rotate(45deg);
  transform: translateY(2px) rotate(45deg);
}

.close_btn span:last-child {
  -webkit-transform: translateY(-2px) rotate(-45deg);
  -ms-transform: translateY(-2px) rotate(-45deg);
  transform: translateY(-2px) rotate(-45deg);
}

@-webkit-keyframes jumpingicon {
  0% {
    top: 0;
  }

  20% {
    top: -8px;
  }

  30% {
    top: 0px;
  }

  40% {
    top: -6px;
  }

  50% {
    top: 0;
  }

  60% {
    top: -4px;
  }

  70% {
    top: 0;
  }

  80% {
    top: -2px;
  }

  90% {
    top: 0;
  }

  95% {
    top: -1px;
  }

  100% {
    top: 0;
  }
}

@keyframes jumpingicon {
  0% {
    top: 0;
  }

  20% {
    top: -8px;
  }

  30% {
    top: 0px;
  }

  40% {
    top: -6px;
  }

  50% {
    top: 0;
  }

  60% {
    top: -4px;
  }

  70% {
    top: 0;
  }

  80% {
    top: -2px;
  }

  90% {
    top: 0;
  }

  95% {
    top: -1px;
  }

  100% {
    top: 0;
  }
}

.main_section {
  position: relative;
  z-index: 2;
}

.main_section h1 {
  font-size: 75px;
  max-width: 411px;
}

.main_section p {
  font-size: 22px;
  max-width: 320px;
  margin-top: 50px;
  margin-bottom: 75px;
}

.main_section .wrapper {
  position: relative;
  padding-top: 160px;
  padding-bottom: 140px;
  z-index: 2;
}

.btn_start {
  padding: 25px 80px;
  background-color: #07d1ff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-left: 2px;
}

.btn_start:hover div {
  width: 100%;
}

.btn_start:hover span {
  background-position: 0 100%;
}

.btn_start:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 0 20px;
  border-color: transparent transparent transparent #222222;
}

.btn_start div {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 20px;
  background: #dd1cff;
  z-index: 2;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.btn_start span {
  position: relative;
  display: inline-block;
  color: royalblue;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), color-stop(50%, #000));
  background: -o-linear-gradient(left, #fff, #fff 50%, #000 50%);
  background: linear-gradient(to right, #fff, #fff 50%, #000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  -o-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
  text-decoration: none;
  position: relative;
  z-index: 3;
  font-weight: 700;
  font-size: 25px;
}

.koko_translate {
  position: absolute;
  top: 10px;
  z-index: 5;
}

.choose_your__gadget {
  position: relative;
  z-index: 5;
  -webkit-box-shadow: 0px -51px 69px 36px #222226;
  box-shadow: 0px -51px 69px 36px #222226;
}

.choose_your__gadget .wrapper {
  padding-top: 160px;
  position: relative;
}

.choose_your__gadget .wrapper h2 {
  max-width: 332px;
  margin-left: auto;
  margin-right: 50px;
  margin-bottom: 190px;
}

.choose_your__gadget .wrapper .choose__products--wrap {
  background-color: rgba(34, 34, 38, 0.99);
  position: relative;
  z-index: 6;
  padding-top: 150px;
  -webkit-box-shadow: 0px -51px 69px 36px #222226;
  box-shadow: 0px -51px 69px 36px #222226;
}

.choose_your__gadget .wrapper .choose__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.choose_your__gadget .wrapper .choose__products .choose__product {
  width: 360px;
  height: 740px;
  position: relative;
}

.choose_your__gadget .wrapper .choose__products .choose__product:nth-child(2) {
  top: -110px;
}

.choose_your__gadget .wrapper .choose__products .choose__product:nth-child(3) {
  top: -220px;
}

.choose_your__gadget .wrapper .choose__products .choose__product:hover .choose__product_bottom--wrap {
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.choose_your__gadget .wrapper .choose__products .choose__product .choose__product--img {
  width: 100%;
  height: 360px;
  position: relative;
  z-index: 7;
}

.choose_your__gadget .wrapper .choose__products .choose__product .choose__product--img img {
  position: absolute;
  width: 100%;
  left: 0;
  top: -50px;
}

.choose_your__gadget .wrapper .choose__products .choose__product:first-child .choose__product--img {
  background: #13C6FF;
  background: -o-linear-gradient(312.35deg, #13C6FF -5.77%, #D721FF 54.31%);
  background: linear-gradient(137.65deg, #13C6FF -5.77%, #D721FF 54.31%);
  border-radius: 10px;
}

.choose_your__gadget .wrapper .choose__products .choose__product:nth-child(2) .choose__product--img {
  background: #FF8413;
  background: -o-linear-gradient(308.97deg, #FF8413 -5.81%, #FF2121 111.82%);
  background: linear-gradient(141.03deg, #FF8413 -5.81%, #FF2121 111.82%);
  border-radius: 10px;
}

.choose_your__gadget .wrapper .choose__products .choose__product:last-child .choose__product--img {
  background: #13C6FF;
  background: -o-linear-gradient(311.24deg, #000000 -5.79%, #13C6FF 119.1%);
  background: linear-gradient(138.76deg, #000000 -5.79%, #13C6FF 119.1%);
  border-radius: 10px;
}

.choose_your__gadget .wrapper .choose__products .choose__product .choose__product_bottom--wrap {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  height: 360px;
  -webkit-transform: skewY(-15deg);
  -ms-transform: skewY(-15deg);
  transform: skewY(-15deg);
  position: relative;
  z-index: 6;
  top: -66px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 60px;
}

.choose_your__gadget .wrapper .choose__products .choose__product .choose__product--bottom {
  padding: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transform: skewY(15deg);
  -ms-transform: skewY(15deg);
  transform: skewY(15deg);
}

.choose_your__gadget .wrapper .choose__products .choose__product .choose__product--bottom .choose__product--price {
  font-family: 'Girloy', sans-serif;
  font-weight: 600;
  color: #000;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #07d1ff;
  border-bottom-left-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.choose_your__gadget .wrapper .choose__products .choose__product .choose__product--bottom p {
  max-width: 250px;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.choose_your__gadget .wrapper .choose__products .choose__product .choose__product--bottom h3 {
  text-align: center;
}

.choose_your__gadget .wrapper .choose__products .choose__product .choose__product--bottom .btn_more__product {
  margin-top: 35px;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.choose_your__gadget .wrapper .choose__products .choose__product .choose__product--bottom .btn_more__product:hover {
  text-decoration: underline;
}

.choose_your__gadget .wrapper .choose__products .choose__product .choose__product--bottom .btn_more__product:hover .arrow {
  -webkit-animation: arrowMore 0.6s ease-in-out infinite;
  animation: arrowMore 0.6s ease-in-out infinite;
}

.charger_icon {
  position: absolute;
  width: 63px;
  height: 63px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  top: 30px;
  right: 30px;
}

.charger_icon::before,
.charger_icon::after {
  position: absolute;
  content: '';
  -webkit-transform: skewX(-4deg);
  -ms-transform: skewX(-4deg);
  transform: skewX(-4deg);
}

.charger_icon::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 28px 14px;
  border-color: transparent transparent #48FFF7 transparent;
  left: calc(50% - 11px);
  top: calc(50% - 24px);
}

.charger_icon::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 14px 0 0;
  border-color: #48FFF7 transparent transparent transparent;
  left: calc(50% - 1px);
  top: calc(50% - 4px);
}

.arrow {
  position: relative;
  width: 24px;
  height: 15px;
  display: inline-block;
  margin-bottom: -2px;
  margin-left: 15px;
}

.arrow:before,
.arrow:after {
  position: absolute;
  content: '';
}

.arrow:before {
  width: 24px;
  height: 3px;
  background-color: #d721ff;
  left: 0;
  top: 6px;
  border-radius: 3px;
}

.arrow:after {
  width: 10px;
  height: 10px;
  border-top: 3px solid #d721ff;
  border-right: 3px solid #d721ff;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0;
  top: 1px;
}

@-webkit-keyframes arrowMore {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes arrowMore {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.our_products_block {
  background-color: #2E2E37;
  -webkit-transform: skewY(-15deg);
  -ms-transform: skewY(-15deg);
  transform: skewY(-15deg);
  z-index: 5;
  position: relative;
  top: -90px;
}

.our_products_block:before {
  position: absolute;
  content: '';
  bottom: -550px;
  width: 100%;
  height: 700px;
  -webkit-transform: skewY(27deg);
  -ms-transform: skewY(27deg);
  transform: skewY(27deg);
  background: #222226;
  z-index: 7;
  pointer-events: none;
}

.our_products_block:after {
  position: absolute;
  pointer-events: none;
  content: '';
  bottom: -400px;
  width: 100%;
  height: 400px;
  -webkit-transform: skewY(-8deg);
  -ms-transform: skewY(-8deg);
  transform: skewY(-8deg);
  background: #de1cff;
  z-index: 5;
}

.our_products_block .koko_sit {
  position: absolute;
  bottom: 120px;
  left: calc(33% - 662px / 2);
  -webkit-transform: skewY(15deg);
  -ms-transform: skewY(15deg);
  transform: skewY(15deg);
  z-index: 7;
  width: 660px;
}

.our_products_block .wrapper {
  padding-top: 140px;
  -webkit-transform: skewY(15deg);
  -ms-transform: skewY(15deg);
  transform: skewY(15deg);
  position: relative;
  height: 100%;
  z-index: 6;
}

.our_products_block .wrapper .animation_block {
  -webkit-transform: skewY(-15deg);
  -ms-transform: skewY(-15deg);
  transform: skewY(-15deg);
  max-height: 115%;
  height: 115%;
  z-index: 2;
}

.our_products_block .wrapper .animation_block .animation_rect {
  -webkit-animation-name: animRect2;
  animation-name: animRect2;
}

.our_products_block .wrapper h2 {
  max-width: 600px;
  position: relative;
  top: 100px;
}

.our_products_block .wrapper .products_of_brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  width: 385px;
  margin-right: 5px;
  position: relative;
  top: -150px;
}

.our_products_block .wrapper .products_of_brand .product_of_brand {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 35px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(34, 34, 38, 0.5);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  position: relative;
}

.our_products_block .wrapper .products_of_brand .product_of_brand:not(:last-child) {
  margin-bottom: 30px;
}

.our_products_block .wrapper .products_of_brand .product_of_brand h4 {
  font-size: 30px;
  margin-bottom: 15px;
}

.star-icon {
  color: #ccc;
  font-size: 17px;
  vertical-align: middle;
  margin-right: -1px;
}

.star-icon.filled {
  color: #F7A115;
}

.review_photo__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.reviews_main_block {
  position: relative;
  z-index: 10;
  background-color: #222226;
  overflow: hidden;
  padding-bottom: 190px;
}

.reviews_main_block .wrapper .reviews_main_block--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 130px;
}

.reviews_main_block .wrapper .reviews_main_block--header .quatity_reviews_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 450px;
}

.reviews_main_block .wrapper .reviews_main_block--header .quatity_reviews_block span {
  font-size: 32px;
}

.reviews_main_block .wrapper .reviews_main_block--header .quatity_reviews_block span span {
  color: #13C6FF;
}

.reviews_main_block .wrapper .reviews_main_block--header .amazon_icon_review_clip {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 161px;
  width: 161px;
  height: 161px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #F8A51B;
}

.reviews_main_block .wrapper .btn_review_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 60px;
}

.reviews_main_block .wrapper .btn_review_more svg {
  margin-right: 35px;
}

.reviews_main_block .wrapper .btn_review_more a:hover .btn_more_border {
  stroke: #d721ff;
}

.reviews_main_block .wrapper .btn_review_more .btn_more_border {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.reviews_main_block .wrapper .btn_review_more .btn_more_text {
  fill: #fff;
  font-weight: 700;
  font-size: 24px;
}

.reviews_main_block .wrapper .btn_review_more span {
  font-size: 25px;
}

.reviews_main_block .wrapper .review_photos {
  width: 100%;
  min-height: 860px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.reviews_main_block .wrapper .review_photo {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 74px 10px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 0px 74px 10px rgba(0, 0, 0, 0.62);
}

.reviews_main_block .wrapper .review_photo:nth-child(1) {
  top: 5%;
  left: -250px;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  z-index: 10;
}

.reviews_main_block .wrapper .review_photo:nth-child(2) {
  top: 36%;
  left: -240px;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
  z-index: 9;
}

.reviews_main_block .wrapper .review_photo:nth-child(3) {
  top: 61%;
  left: -300px;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  transform: rotate(22deg);
  z-index: 10;
}

.reviews_main_block .wrapper .review_photo:nth-child(4) {
  top: 5%;
  right: -220px;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  transform: rotate(22deg);
  z-index: 9;
}

.reviews_main_block .wrapper .review_photo:nth-child(5) {
  top: 32%;
  right: -320px;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(-22deg);
  -ms-transform: rotate(-22deg);
  transform: rotate(-22deg);
  z-index: 10;
}

.reviews_main_block .wrapper .review_photo .review_photo__bottom--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.reviews_main_block .wrapper .review_photo .review_photo__bottom--left img {
  border-radius: 50%;
  width: 27px;
  height: 27px;
  margin-right: 10px;
}

.reviews_main_block .wrapper .review_photo .review_photo__bottom--left span {
  font-size: 14px;
  font-weight: 500;
}

.reviews_main_block .wrapper .review_photo .review_photo--img_block {
  position: relative;
  width: 230px;
  height: 190px;
  border-radius: 6px;
  overflow: hidden;
}

.reviews_main_block .wrapper .review_photo .review_photo--img_block img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
  object-fit: cover;
}

.reviews_main_block .wrapper .review_photo .review_photo__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.reviews_main_block .wrapper h2 {
  max-width: 500px;
}

.reviews_main_block .wrapper .quatity_reviews_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews_main_block .wrapper .reviews_block {
  position: relative;
}

.reviews_main_block .wrapper .reviews_block .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: auto;
}

.reviews_main_block .wrapper .reviews_block .reviews .review {
  width: 380px;
  gap: 10px;
  padding: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2E2E37;
  border-radius: 10px;
  margin-bottom: 25px;
}

.reviews_main_block .wrapper .reviews_block .reviews .review:not(:nth-child(3n)) {
  margin-right: 25px;
}

.reviews_main_block .wrapper .reviews_block .reviews .review h5,
.reviews_main_block .wrapper .reviews_block .reviews .review p,
.reviews_main_block .wrapper .reviews_block .reviews .review span,
.reviews_main_block .wrapper .reviews_block .reviews .review a {
  font-family: 'Gilroy', sans-serif !important;
}

.reviews_main_block .wrapper .reviews_block .reviews .review h5 {
  margin-top: 35px;
  margin-bottom: 20px;
}

.reviews_main_block .wrapper .reviews_block .reviews .review p {
  margin-bottom: 30px;
}

.reviews_main_block .wrapper .reviews_block .reviews .review .review_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.reviews_main_block .wrapper .reviews_block .reviews .review .review_top img {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  margin-right: 15px;
}

.reviews_main_block .wrapper .reviews_block .reviews .review .review_top .review_name {
  font-size: 22px;
  font-weight: 700;
}

.reviews_main_block .wrapper .reviews_block .reviews .review .review_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.reviews_main_block .wrapper .reviews_block .reviews .review .review_bottom img {
  width: 32px;
  height: 24px;
  margin-bottom: -8px;
}

.reviews_main_block .wrapper .reviews_block .reviews .review .review_bottom:hover .review_link:after {
  width: 100%;
}

.reviews_main_block .wrapper .reviews_block .reviews .review .review_link {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.reviews_main_block .wrapper .reviews_block .reviews .review .review_link:before,
.reviews_main_block .wrapper .reviews_block .reviews .review .review_link:after {
  width: 100%;
  height: 1px;
  position: absolute;
  content: '';
  bottom: -4px;
  left: 0;
}

.reviews_main_block .wrapper .reviews_block .reviews .review .review_link:before {
  background-color: #b33fff;
}

.reviews_main_block .wrapper .reviews_block .reviews .review .review_link:after {
  width: 0;
  background-color: #48FFF7;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.animation_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  max-height: 850px;
  width: calc(100% - 1px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.animation_block > div {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.animation_block > div:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.animation_block .animation_rect {
  height: 200%;
  position: absolute;
  right: -2px;
  width: 4px;
  -webkit-animation-name: animRect;
  animation-name: animRect;
  pointer-events: none;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: -1;
}

.animation_block .animation_rect.line_block {
  position: absolute;
  width: 4px;
  right: -2px;
}

.animation_block .animation_rect.line_block.f1_left {
  right: auto;
  left: -2px;
  -webkit-animation-duration: 6s !important;
  animation-duration: 6s !important;
}

.animation_block .animation_rect.line_block .blue {
  background-color: #17c4ff;
  -webkit-box-shadow: 0px 0px 37px 1px #17c4ff;
  box-shadow: 0px 0px 37px 1px #17c4ff;
}

.animation_block .animation_rect.line_block .purple {
  background-color: #d721ff;
  -webkit-box-shadow: 0px 0px 37px 1px #d721ff;
  box-shadow: 0px 0px 37px 1px #d721ff;
}

.animation_block .animation_rect.line_block .bluelight {
  background-color: #3af3e5;
  -webkit-box-shadow: 0px 0px 37px 1px #3af3e5;
  box-shadow: 0px 0px 37px 1px #3af3e5;
}

.animation_block .animation_rect.line_block .white {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 37px 1px white;
  box-shadow: 0px 0px 37px 1px white;
}

.animation_block .animation_rect.line_block.f1 {
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
}

.animation_block .animation_rect.line_block.f1 .f1_1 {
  height: 178px;
  width: 4px;
  left: -2px;
  -webkit-transform: translateY(-90px);
  -ms-transform: translateY(-90px);
  transform: translateY(-90px);
}

.animation_block .animation_rect.line_block.f1 .f1_2 {
  height: 100px;
  width: 2px;
  left: 0px;
  -webkit-transform: translateY(200px);
  -ms-transform: translateY(200px);
  transform: translateY(200px);
}

.animation_block .animation_rect.line_block.f1 .f1_3 {
  height: 73px;
  width: 4px;
  right: 0;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

.animation_block .animation_rect.line_block.f1 .f1_4 {
  height: 173px;
  width: 2px;
  -webkit-transform: translateY(350px);
  -ms-transform: translateY(350px);
  transform: translateY(350px);
}

.animation_block .animation_rect.line_block.f2 {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.animation_block .animation_rect.line_block.f2 .f2_1 {
  height: 178px;
  width: 4px;
  right: 0px;
  -webkit-transform: translateY(-90px);
  -ms-transform: translateY(-90px);
  transform: translateY(-90px);
}

.animation_block .animation_rect.line_block.f2 .f2_2 {
  height: 317px;
  width: 4px;
  right: 0;
  -webkit-transform: translateY(220px);
  -ms-transform: translateY(220px);
  transform: translateY(220px);
}

.animation_block .animation_rect.line_block.f3 {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}

.animation_block .animation_rect.line_block.f3 .f3_1 {
  height: 278px;
  width: 2px;
  right: 0;
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
}

.animation_block .animation_rect.line_block.f4 {
  -webkit-animation-duration: 16s;
  animation-duration: 16s;
}

.animation_block .animation_rect.line_block.f4 .f4_1 {
  height: 178px;
  width: 6px;
  right: -2px;
  -webkit-transform: translateY(-260px);
  -ms-transform: translateY(-260px);
  transform: translateY(-260px);
}

.animation_block .animation_rect.line_block.f4 .f4_2 {
  height: 101px;
  width: 2px;
  right: 0;
  -webkit-transform: translateY(200px);
  -ms-transform: translateY(200px);
  transform: translateY(200px);
}

@-webkit-keyframes animRect {
  0% {
    -webkit-transform: translateY(-600px) translateZ(0);
    transform: translateY(-600px) translateZ(0);
  }

  100% {
    -webkit-transform: translateY(1000px) translateZ(0);
    transform: translateY(1000px) translateZ(0);
  }
}

@keyframes animRect {
  0% {
    -webkit-transform: translateY(-600px) translateZ(0);
    transform: translateY(-600px) translateZ(0);
  }

  100% {
    -webkit-transform: translateY(1000px) translateZ(0);
    transform: translateY(1000px) translateZ(0);
  }
}

@-webkit-keyframes animRect2 {
  0% {
    -webkit-transform: translateY(-600px) translateZ(0);
    transform: translateY(-600px) translateZ(0);
  }

  100% {
    -webkit-transform: translateY(1800px) translateZ(0);
    transform: translateY(1800px) translateZ(0);
  }
}

@keyframes animRect2 {
  0% {
    -webkit-transform: translateY(-600px) translateZ(0);
    transform: translateY(-600px) translateZ(0);
  }

  100% {
    -webkit-transform: translateY(1800px) translateZ(0);
    transform: translateY(1800px) translateZ(0);
  }
}

.cloud {
  width: 200px;
  height: 600px;
  position: absolute;
  border-radius: 50%;
  top: 20px;
  z-index: 14;
}

.cloud.cloud_left {
  left: -200px;
}

.cloud.cloud_right {
  right: -200px;
}

.cloud_big {
  height: 1200px;
}

.cloud_purple_left {
  background: rgba(215, 33, 255, 0.3);
  -webkit-box-shadow: 61px 0px 300px -1px rgba(215, 33, 255, 0.3);
  box-shadow: 61px 0px 300px -1px rgba(215, 33, 255, 0.3);
}

.cloud_blue_right {
  background: rgba(58, 243, 229, 0.3);
  -webkit-box-shadow: -61px 0px 300px -1px rgba(58, 243, 229, 0.3);
  box-shadow: -61px 0px 300px -1px rgba(58, 243, 229, 0.3);
}

.cloud_blue_left {
  background: rgba(58, 243, 229, 0.3);
  -webkit-box-shadow: 61px 0px 300px -1px rgba(58, 243, 229, 0.3);
  box-shadow: 61px 0px 300px -1px rgba(58, 243, 229, 0.3);
}

.cloud_purple_right {
  background: rgba(215, 33, 255, 0.3);
  -webkit-box-shadow: -61px 0px 300px -1px rgba(215, 33, 255, 0.3);
  box-shadow: -61px 0px 300px -1px rgba(215, 33, 255, 0.3);
}

.cloud_blue_bottom {
  background: rgba(58, 243, 229, 0.3);
  -webkit-box-shadow: 0px -113px 142px 5px rgba(58, 243, 229, 0.2);
  box-shadow: 0px -113px 142px 5px rgba(58, 243, 229, 0.2);
}

.cloud_bottom {
  width: 90%;
  height: 450px;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 90% / 2);
  bottom: 190px;
  z-index: 10;
}

footer {
  background: -o-linear-gradient(4.18deg, #D721FF 23.83%, #B33FFF 48.45%, #07D1FF 102.43%, #0772ff 122.43%);
  background: linear-gradient(85.82deg, #D721FF 23.83%, #B33FFF 48.45%, #07D1FF 102.43%, #0772ff 122.43%);
  border-radius: 60px 60px 0px 0px;
  position: relative;
  z-index: 11;
  background-size: 200% 200%;
  -webkit-animation: gradient 10s ease infinite;
  animation: gradient 10s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

footer .wrapper {
  padding-top: 100px;
}

footer .wrapper a,
footer .wrapper span {
  font-family: 'Girloy', sans-serif;
}

footer .wrapper a {
  display: inline-block;
  position: relative;
}

footer .wrapper a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  height: 2px;
  width: 100%;
  background-color: #fff;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .wrapper .footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 83px;
}

footer .wrapper .footer_top .footer_top_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

footer .wrapper .footer_top .footer_top_right ul {
  margin: 0 60px;
}

footer .wrapper .footer_top .footer_top_right ul h3 {
  margin-bottom: 30px;
}

footer .wrapper .footer_top .footer_top_right ul li {
  margin-bottom: 10px;
}

footer .wrapper .footer_top .footer_top_right ul li a {
  display: inline-block;
  position: relative;
}

footer .wrapper .footer_top .footer_top_right ul li a:before {
  width: 0;
}

footer .wrapper .footer_top .footer_top_right ul li a:hover:before {
  width: 100%;
}

footer .wrapper .footer_top .footer_top_left {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding-right: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .wrapper .footer_top .footer_top_left .footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

footer .wrapper .footer_top .footer_top_left .footer_logo > a:before {
  display: none;
}

footer .wrapper .footer_top .footer_top_left .footer_logo span {
  margin-top: 15px;
  margin-bottom: 10px;
}

footer .wrapper .footer_top .footer_top_left .footer_logo span a:hover:before {
  opacity: 0;
}

footer .wrapper .footer_top .footer_top_left .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 30px 45px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

footer .wrapper .footer_top .footer_top_left .footer_social a {
  width: 49px;
  height: 49px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .wrapper .footer_top .footer_top_left .footer_social a:hover {
  border: 2px solid rgba(255, 255, 255, 0.7);
}

footer .wrapper .footer_top .footer_top_left .footer_social a:not(:last-child) {
  margin-right: 15px;
}

footer .wrapper .footer_top .footer_top_left .footer_social a:before {
  display: none;
}

footer .wrapper .footer_top .footer_top_left .footer_development {
  position: relative;
}

footer .wrapper .footer_top .footer_top_left .footer_development a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .wrapper .footer_top .footer_top_left .footer_development a span {
  font-size: 18px;
}

footer .wrapper .footer_top .footer_top_left .footer_development a:before {
  width: 0;
}

footer .wrapper .footer_top .footer_top_left .footer_development a:hover:before {
  width: 100%;
}

footer .wrapper .footer_top .footer_top_left .footer_development .charger_icon {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: none;
  width: 75px;
  min-width: 75px;
  height: 75px;
  -webkit-transform: scale(0.65);
  -ms-transform: scale(0.65);
  transform: scale(0.65);
  position: static;
}

footer .wrapper .footer_top .footer_top_left .footer_development .charger_icon::before {
  border-color: transparent transparent #ffffff transparent;
}

footer .wrapper .footer_top .footer_top_left .footer_development .charger_icon::after {
  border-color: #fff transparent transparent transparent;
}

footer .wrapper .footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 40px 40px 0px 0px;
  padding: 33px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .wrapper .footer_bottom .footer_bot_left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wrapper .footer_bottom .footer_bot_left ul li {
  margin-right: 10px;
}

footer .wrapper .footer_bottom .footer_bot_left ul li a {
  font-family: 'Girloy', sans-serif;
  display: inline-block;
  position: relative;
}

footer .wrapper .footer_bottom .footer_bot_left ul li a:hover:before {
  opacity: 0;
}

footer .wrapper .footer_bottom .footer_bot_right img {
  width: 350px;
}

@supports (-webkit-appearance:none) {

}

@media (min-width: 630px) {
  header .header_cart__block a img {
    margin-bottom: -8px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1200px) {
  h2 {
    font-size: 52px;
  }

  .wrapper {
    padding: 0 15px;
  }

  header {
    height: 120px;
  }

  header .wrapper > div,
  header .wrapper nav {
    padding: 0 30px;
  }

  header .wrapper .logo img {
    width: 100px;
  }

  header .nav_menu ul a {
    font-size: 14px;
    padding: 50px 0;
  }

  header .nav_menu ul a:before {
    bottom: 0;
  }

  .main-nav {
    padding: 30px;
    max-width: 65%;
  }

  .main-nav h2 {
    font-size: 35px;
  }

  .main-nav > div ul {
    margin-bottom: 10px;
    margin-right: 25px;
  }

  .main-nav > div ul h3 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .main-nav > div ul li {
    margin-bottom: 4px;
  }

  .main-nav a {
    font-size: 16px;
  }

  .choose_your__gadget .wrapper .choose__products {
    width: 900px;
    margin: 0 auto;
  }

  .choose_your__gadget .wrapper .choose__products .choose__product {
    width: 290px;
    height: 640px;
  }

  .choose_your__gadget .wrapper .choose__products .choose__product:nth-child(2) {
    top: -85px;
  }

  .choose_your__gadget .wrapper .choose__products .choose__product:nth-child(3) {
    top: -170px;
  }

  .choose_your__gadget .wrapper .choose__products .choose__product .choose__product_bottom--wrap {
    padding-top: 70px;
    width: 289.5px;
  }

  .choose_your__gadget .wrapper .choose__products .choose__product .choose__product--bottom {
    padding: 20px;
  }

  .choose_your__gadget .wrapper .choose__products .choose__product .choose__product--bottom h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .choose_your__gadget .wrapper .choose__products .choose__product .choose__product--bottom p {
    font-size: 16px;
  }

  .choose_your__gadget .wrapper .choose__products .choose__product .choose__product--img {
    height: 290px;
  }

  .charger_icon {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    top: 15px;
    right: 15px;
  }

  .reviews_main_block .wrapper .reviews_main_block--header .quatity_reviews_block {
    max-width: 300px;
  }

  .reviews_main_block .wrapper .reviews_main_block--header .quatity_reviews_block span {
    font-size: 22px;
  }

  .reviews_main_block .wrapper .reviews_main_block--header .amazon_icon_review_clip {
    width: 100px;
    height: 100px;
    min-width: 100px;
  }

  .reviews_main_block .wrapper .reviews_main_block--header .amazon_icon_review_clip img {
    width: 50px;
  }

  .reviews_main_block .wrapper .reviews_block {
    width: 785px;
    margin: 0 auto;
  }

  .reviews_main_block .wrapper .reviews_block .reviews .review:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .reviews_main_block .wrapper .reviews_block .reviews .review:not(:nth-child(2n)) {
    margin-right: 25px;
  }

  footer .wrapper .footer_top .footer_top_right {
    width: 100%;
  }

  footer .wrapper .footer_top .footer_top_right ul {
    margin: 0;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1100px) {
  header .wrapper > div,
  header .wrapper nav {
    padding: 0 25px;
  }

  header .nav_menu ul a {
    padding: 49px 0;
  }

  .main_section h1 {
    font-size: 50px;
  }

  .main_section p {
    font-size: 18px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1050px) {
  h2 {
    font-size: 48px;
  }

  .our_products_block .koko_sit {
    width: 500px;
    bottom: 160px;
    left: 3%;
  }

  .our_products_block .wrapper {
    padding-top: 50px;
    height: 1000px;
  }

  .our_products_block .wrapper h2 {
    max-width: 410px;
    margin-left: 40px;
  }

  .our_products_block .wrapper .products_of_brand {
    width: 280px;
    top: 0;
  }

  .our_products_block .wrapper .products_of_brand .product_of_brand {
    padding: 20px;
  }

  .our_products_block .wrapper .products_of_brand .product_of_brand h4 {
    font-size: 22px;
  }

  .our_products_block .wrapper .products_of_brand .product_of_brand p {
    font-size: 14px;
  }

  .our_products_block .wrapper .products_of_brand .product_of_brand:not(:last-child) {
    margin-bottom: 15px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1000px) {
  header {
    height: 90px;
  }

  header .wrapper .logo img {
    width: 80px;
  }

  header .nav_menu ul a {
    padding: 36px 0;
    font-size: 13px;
  }

  .main_section .wrapper {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .btn_start {
    padding: 16px 60px;
  }

  .btn_start {
    padding: 14px 50px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 950px) {
  .cloud_bottom {
    bottom: 220px;
  }

  footer .wrapper {
    padding-top: 50px;
  }

  footer .wrapper .footer_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  footer .wrapper .footer_top .footer_top_right {
    padding-bottom: 40px;
  }

  footer .wrapper .footer_top .footer_top_right h3 {
    font-size: 20px;
    margin-bottom: 20px !important;
  }

  footer .wrapper .footer_top .footer_top_right li {
    margin-bottom: 5px !important;
  }

  footer .wrapper .footer_top .footer_top_right li a {
    font-size: 14px !important;
  }

  footer .wrapper .footer_top .footer_top_left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0;
    padding-top: 25px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  footer .wrapper .footer_top .footer_top_left .footer_logo > a {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  footer .wrapper .footer_top .footer_top_left .footer_logo span {
    margin-top: 0;
  }

  footer .wrapper .footer_top .footer_top_left .footer_social {
    border: 0;
    margin: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px 25px;
  }

  footer .wrapper .footer_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer .wrapper .footer_bottom .footer_bot_left {
    margin-bottom: 20px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 930px) {
  .choose_your__gadget .wrapper .choose__products {
    width: 595px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .choose_your__gadget .wrapper .choose__products .choose__product:not(:last-child) {
    margin-bottom: 200px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 852px) {
  header .wrapper > div,
  header .wrapper nav {
    padding: 0 15px;
  }

  header .wrapper .logo img {
    width: 50px;
  }

  header .nav_menu ul a {
    padding: 28px 0;
    margin: 0 10px;
  }

  header .burger_menu {
    width: 25px;
    max-height: 21px;
  }

  header .burger_menu span {
    height: 3px;
  }

  header .burger_menu span:nth-child(2) {
    margin: 6px 0;
  }

  header .header_cart__block a {
    margin-left: 30px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 815px) {
  .reviews_main_block .wrapper .reviews_block {
    width: 380px;
  }

  .reviews_main_block .wrapper .reviews_block {
    width: 370px;
  }

  .reviews_main_block .wrapper .reviews_block .reviews .review {
    margin-right: 25px !important;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 780px) {
  .our_products_block .koko_sit {
    width: 340px;
  }

  .our_products_block .wrapper {
    height: 1200px;
  }

  .our_products_block .wrapper .products_of_brand {
    top: 90px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 700px) {
  h2 {
    font-size: 42px;
  }

  .reviews_main_block {
    padding-bottom: 90px;
  }

  .reviews_main_block .wrapper .reviews_block .reviews .review {
    margin-right: 0 !important;
    width: 370px;
  }

  .reviews_main_block .wrapper .reviews_block .reviews .review h5 {
    font-size: 18px;
  }

  .reviews_main_block .wrapper .reviews_block .reviews .review p {
    font-size: 14px;
  }

  .reviews_main_block .wrapper .reviews_block .reviews .review .review_name {
    font-size: 17px !important;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 640px) {
  .our_products_block .koko_sit {
    width: 320px;
    left: calc(50% - 320px / 2);
    bottom: 40px;
  }

  .our_products_block .wrapper {
    padding-top: 20px;
    height: 1500px;
  }

  .our_products_block .wrapper h2 {
    text-align: center;
  }

  .our_products_block .wrapper .products_of_brand {
    top: 120px;
    margin: 0 auto;
  }

  .reviews_main_block .wrapper .reviews_main_block--header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .reviews_main_block .wrapper .reviews_main_block--header h2 {
    max-width: 300px;
    text-align: center;
    margin-bottom: 25px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 630px) {
  header {
    height: 130px;
  }

  header .wrapper {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  header .wrapper::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    left: 0;
    top: calc(50% - 1px);
    background-color: rgba(255, 255, 255, 0.2);
  }

  header .wrapper > div,
  header .wrapper nav {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 20px;
    max-height: 50%;
  }

  header .wrapper .nav_menu {
    padding-bottom: 0;
  }

  header .wrapper .wrap_header__ask--btn {
    position: absolute;
    right: 10px;
    top: 23px;
    height: auto;
    border: none;
  }

  header .wrapper .wrap_header__ask--btn br {
    display: none;
  }

  header .wrapper .header_cart__block {
    border-right: none !important;
  }

  header .wrapper .logo {
    position: absolute;
    border: none !important;
    top: 10px;
    left: 10px;
  }

  header .nav_menu ul a {
    padding: 20px 0;
    padding-top: 0;
  }

  .main-nav {
    max-width: 95%;
  }

  .main-nav h2 {
    font-size: 30px;
  }

  .main-nav > div ul h3 {
    font-size: 23px;
    margin-bottom: 10px;
  }

  .main-nav > div ul li {
    margin-bottom: 3px;
  }

  .main-nav a {
    font-size: 12px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 625px) {
  .choose_your__gadget .wrapper .choose__products {
    width: 290px;
  }

  .choose_your__gadget .wrapper .choose__products .choose__product:not(:last-child) {
    margin-bottom: 100px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 600px) {
  footer .wrapper .footer_top .footer_top_right {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  footer .wrapper .footer_top .footer_top_right ul {
    margin-right: 10px;
  }

  footer .wrapper .footer_top .footer_top_left {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 300px;
    -ms-flex-item-align: center;
    align-self: center;
  }

  footer .wrapper .footer_top .footer_top_left .footer_logo {
    border-right: 2px solid rgba(255, 255, 255, 0.4);
  }

  footer .wrapper .footer_top .footer_top_left .footer_logo > a {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    margin-top: -20px;
  }

  footer .wrapper .footer_top .footer_top_left .footer_logo span {
    font-size: 12px;
    margin-top: -20px;
  }

  footer .wrapper .footer_top .footer_top_left .footer_social {
    position: absolute;
    right: 10px;
    top: 25px;
    border: none;
    padding: 0;
  }

  footer .wrapper .footer_top .footer_top_left .footer_social a {
    width: 30px;
    height: 30px;
  }

  footer .wrapper .footer_top .footer_top_left .footer_social a picture,
  footer .wrapper .footer_top .footer_top_left .footer_social a img {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  footer .wrapper .footer_top .footer_top_left .footer_social a picture img,
  footer .wrapper .footer_top .footer_top_left .footer_social a img img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  footer .wrapper .footer_top .footer_top_left .footer_social a:not(:last-child) {
    margin-right: 5px;
  }

  footer .wrapper .footer_top .footer_top_left .footer_development {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  footer .wrapper .footer_top .footer_top_left .footer_development .charger_icon {
    -webkit-transform: scale(0.45);
    -ms-transform: scale(0.45);
    transform: scale(0.45);
  }

  footer .wrapper .footer_top .footer_top_left .footer_development a span {
    font-size: 12px;
    margin-left: -10px;
  }

  footer .wrapper .footer_bottom {
    padding: 15px;
  }

  footer .wrapper .footer_bottom .footer_bot_left ul {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer .wrapper .footer_bottom .footer_bot_left ul li {
    margin-bottom: 5px;
    font-size: 14px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 500px) {
  h2 {
    font-size: 39px;
  }

  header .wrapper > div,
  header .wrapper nav {
    border: none !important;
  }

  header .wrapper .header_cart__block {
    position: absolute;
    border: none !important;
    left: calc(50% - 85px / 2);
    top: 0px;
    padding: 0;
    max-height: 45px;
  }

  header .wrapper .wrap_header__ask--btn,
  header .wrapper .logo {
    padding: 0;
  }

  header .wrapper .logo {
    top: 0;
    max-height: 50px;
  }

  header .wrapper .nav_menu {
    padding: 0;
  }

  header .wrapper .wrap_btn_burger {
    padding-right: 10px;
  }

  header .nav_menu ul a {
    font-size: 12px;
    white-space: nowrap;
    padding-bottom: 25px;
    margin: 0 5px;
  }

  .main_section h1 {
    font-size: 40px;
  }

  .main_section p {
    font-size: 16px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 440px) {
  .reviews_main_block .wrapper .reviews_main_block--header .quatity_reviews_block {
    max-width: 240px;
  }

  .reviews_main_block .wrapper .reviews_main_block--header .quatity_reviews_block span {
    font-size: 18px;
  }

  .reviews_main_block .wrapper .reviews_main_block--header .amazon_icon_review_clip {
    width: 60px;
    height: 60px;
    min-width: 60px;
  }

  .reviews_main_block .wrapper .reviews_main_block--header .amazon_icon_review_clip img {
    width: 30px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 420px) {
  h2 {
    font-size: 28px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 399px) {
  header .wrapper .header_cart__block {
    left: calc(50% - 50px);
  }

  .reviews_main_block .wrapper .btn_review_more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .reviews_main_block .wrapper .btn_review_more svg {
    margin: 0;
  }

  .reviews_main_block .wrapper .btn_review_more > span {
    text-align: center;
    margin-top: 15px;
  }

  .reviews_main_block .wrapper .reviews_block {
    width: 290px;
  }

  .reviews_main_block .wrapper .reviews_block .reviews .review {
    padding: 20px;
    width: 290px;
  }

  footer .wrapper .footer_bottom .footer_bot_right img {
    width: 282px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 379px) {
  .cloud_bottom {
    bottom: 360px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (min-width: 630px) and (max-width: 1000px) {
  header .wrapper .header_cart__block {
    border-right: none !important;
    height: auto;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding-top: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 8px;
  }

  header .wrapper .wrap_header__ask--btn {
    position: absolute;
    right: 16px;
    bottom: 12px;
    height: auto;
  }

  header .wrapper .wrap_header__ask--btn br {
    display: none;
  }

@supports (-webkit-appearance:none) {

}
}